/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"); */

@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins/Poppins-Regular.ttf");
}

html {
    font-size: 16px;
}
  

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* min-height: 100vh; */
    background-image: url("./snow.jpg");
    background-size: cover;
    background-position: center;
}


/* COUNTDOWN */

.countdownContainer {
    box-shadow: 0px 0px 10px #888888;
    height: 200px;
}

.countdownContainer .number{
    font-size: 2.5rem;
    line-height: 1;
}

.countdown {
    text-align: center;
    font-weight: bold;
    flex-basis: 100%;

}

.countdown span{
    font-size: 1rem;
}